<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'to_do_app/css/login.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>List2Do-Login</title>
  </head>
  <body>
    <section id="login">
        <div class="container">
            <div class="row">

                <div class="col-md-6 left-co">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="slide-text">
                                    <h1>Never forget a thing</h1>
                                    <h3>From groceries to picking up the kids, we help you remember it all, anytime, anywhere</h3>
                                </div>
                                <img src="{% static 'to_do_app/images/login-slide1.jpg' %}" class="img-fluid" alt="...">
                            </div>
                            <div class="carousel-item">
                                <div class="slide-text">
                                    <h1>Never forget a thing</h1>
                                    <h3>From groceries to picking up the kids, we help you remember it all, anytime, anywhere</h3>
                                </div>
                                <img src="{% static 'to_do_app/images/login-slide2.jpg' %}" class="img-fluid" alt="...">
                            </div>
                            <div class="carousel-item">
                                <div class="slide-text">
                                    <h1>Never forget a thing</h1>
                                    <h3>From groceries to picking up the kids, we help you remember it all, anytime, anywhere</h3>
                                </div>
                                <img src="{% static 'to_do_app/images/login-slide3.jpg' %}" class="img-fluid" alt="...">
                            </div>
                            <div class="carousel-item">
                                <div class="slide-text">
                                    <h1>Never forget a thing</h1>
                                    <h3>From groceries to picking up the kids, we help you remember it all, anytime, anywhere</h3>
                                </div>
                                <img src="{% static 'to_do_app/images/login-slide4.jpg' %}" class="img-fluid" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 login-sec">
                    <div class="login" id="signin">
                    <form method="POST" action="/login/">
                        {% csrf_token %}
                        <h2>sign in to continue!</h2>
                        {% if msg %}
                            <p>{{msg}}</p>
                        {% endif %}
                        <div class="form-group">
                          <input type="email" class="form-control" placeholder="Enter email" name="email" required>
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" placeholder="Password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </div>
                    <div class="signout" id="signout">
                    <form method="POST" action="/signup/">
                        {% csrf_token %}
                        <h2>sign up to continue!</h2>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter your name" name="name" required>
                          </div>
                        <div class="form-group">
                          <input type="email" class="form-control" placeholder="Enter email" name="email" required>
                        </div>
                        <div class="form-group">
                          <input type="number" class="form-control" placeholder="Enter your mobile number" name="mobile" required>
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" placeholder="Password" name="password" required maxlength="4">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </div>
                    <p id="mypara">If you don't have an account then <a href="#" onclick="sign_up()">CLICK HERE</a> to SIGNUP</p>
                    <p id="mypara1">If you already had a account then <a href="#" onclick="sign_in()">Click HERE</a> to LOGIN</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        var signin = document.getElementById('signin');
        var signup = document.getElementById('signout');
        var para = document.getElementById('mypara');
        var para1 = document.getElementById('mypara1');

        para.style.display = 'block';
        para1.style.display = 'none';
        signin.style.display = 'block';
        signup.style.display = "none";

        function sign_up() {
            signin.style.display = "none";
            signup.style.display = "block";
            para.style.display = "none";
            para1.style.display = "block";
        }
        function sign_in() {
            signin.style.display = "block";
            signup.style.display = "none";
            para.style.display = "block";
            para1.style.display = "none";
        }
    </script>
  </body>
</html>