<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'to_do_app/css/verification.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Email Verification!</title>
  </head>
  <body>
    <div id="load"></div>
    {% if msg %}
    <div class="container contents">
        <h2>a OTP has been sent to your email!</h2>
        <p>Please enter the OTP here!</p>
        <form action="/forgot1/" method="POST" id="OTP_form">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="o1" maxlength="1" minlength="1" id="o1" required>
            </div>
            <div class="form-group">
                <input type="text" name="o2" maxlength="1" minlength="1" id="o2"  required>
            </div>
            <div class="form-group">
                <input type="text" name="o3" maxlength="1" minlength="1" id="o3"  required>
            </div>
            <div class="form-group">
                <input type="text" name="o4" maxlength="1" minlength="1" id="o4"  required>
            </div>
            <input type="hidden" name="email" value="{{email}}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% else %}
    <div class="container contents">
        <h2>a OTP has been sent to your email!</h2>
        <p>Please enter the OTP here!</p>
        <form action="/verification/" method="POST" id="OTP_form">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="o1" maxlength="1" minlength="1" id="o1" required>
            </div>
            <div class="form-group">
                <input type="text" name="o2" maxlength="1" minlength="1" id="o2"  required>
            </div>
            <div class="form-group">
                <input type="text" name="o3" maxlength="1" minlength="1" id="o3"  required>
            </div>
            <div class="form-group">
                <input type="text" name="o4" maxlength="1" minlength="1" id="o4"  required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% endif %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        document.onreadystatechange = function () {
            var state = document.readyState
            if (state == 'interactive') {
                document.getElementById('contents').style.visibility="hidden";
            }
             else if (state == 'complete') {
                setTimeout(function(){
                document.getElementById('interactive');
                document.getElementById('load').style.visibility="hidden";
                document.getElementById('contents').style.visibility="visible";
                },1000);
            }
        }
    </script>
    
    <script>
        var o1 = document.getElementById('o1');
        var o2 = document.getElementById('o2');
        var o3 = document.getElementById('o3');
        var o4 = document.getElementById('o4');

        o1.onkeyup = function(){
            if (this.value.length == parseInt(this.attributes["maxlength"].value)){
                o2.focus();
            }
        }
        o2.onkeyup = function(){
            if (this.value.length == parseInt(this.attributes["maxlength"].value)){
                o3.focus();
            }
        }
        o3.onkeyup = function(){
            if (this.value.length == parseInt(this.attributes["maxlength"].value)){
                o4.focus();
            }
        }

    </script>
  </body>
</html>